
main{
    height: 90%;
    width: 100%;
}
#container{
    margin: auto;
    height: 700px;
    width: 960px;
 padding-top:5%;
 padding-bottom: 7%;
 padding-left: 13%;
 padding-right: 13%;
}
#head{
    background-color: rgb(102, 157, 206);
    position: relative;
    height:14.286% ;
    width:100% ;
    box-sizing: border-box;
}

@media only screen and (max-width: 225px) {
    main{
        height: 90%;
        width: 100%;
    }
    #container{
        height: 767px;
        width:480px;
     padding-top:5%;
     padding-bottom: 5%;
     padding-left: 13%;
     padding-right: 13%;
    }
    #head{
                position: relative;
                background-color: rgb(23, 49, 71);
                height:9.8% ;
                width:100% ;
                box-sizing: border-box;
            }
        }